<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nankai.example.roomdata">

    <application>
        <activity
            android:name="com.nankai.example.roomdata.RoomDataActivity"
            android:label="@string/title_room_data"
            android:parentActivityName="com.nankai.example.menus.MenuActivity"
            android:theme="@style/App">


            <intent-filter android:order="2">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="instantapp.com.nankai.example" />
                <data android:pathPrefix="/roomdata" />
            </intent-filter>

        </activity>
    </application>

</manifest>