<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nankai.example.menus">

    <application>
        <activity
            android:name="com.nankai.example.menus.MenuActivity"
            android:label="@string/app_name"
            android:theme="@style/App">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="default-url"
                android:value="http://instantapp.com.nankai.example/menus" />

            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="instantapp.com.nankai.example" />
                <data android:pathPrefix="/menus" />

            </intent-filter>

        </activity>
    </application>

</manifest>