<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nankai.example.roomdata">

    <application>
        <activity
            android:label="@string/title_room_data"
            android:name=".RoomDataActivity"
            android:parentActivityName="com.nankai.example.menus.MenuActivity"
            android:theme="@style/AppTheme">

            <intent-filter
                android:autoVerify="true"
                android:order="2">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.nankai.example"
                    android:pathPrefix="/roomdata" />
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>